In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [10]:
data = pd.read_csv("../../data/raw/creditcard.csv")
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [12]:
from sklearn.preprocessing import StandardScaler

In [17]:
data['normAmount']=StandardScaler().fit_transform(data['Amount'].values.reshape(-1,1))

In [18]:
data['Amount'].values.reshape(-1,1)

array([[149.62],
       [  2.69],
       [378.66],
       ...,
       [ 67.88],
       [ 10.  ],
       [217.  ]])

In [20]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V22,V23,V24,V25,V26,V27,V28,Amount,Class,normAmount
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0,0.244964
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0,-0.342475
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0,1.160686
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0,0.140534
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0,-0.073403

In [21]:
data.drop(['Time','Amount'],axis=1,inplace=True)

In [22]:
data.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Class,normAmount
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0,0.244964
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0,-0.342475
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0,1.160686
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0,0.140534
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0,-0.073403

In [27]:
X=data.iloc[:,data.columns=='Class']
y=data.iloc[:,data.columns!='Class']

In [29]:
number_frauds=len(data[data['Class']==1])
fraud_indices= data[data['Class']==1].index

In [35]:
normal_indices=data[data['Class']==0].index
normal_indices_random=np.random.choice(normal_indices,number_frauds,replace=False)
normal_indices_random=np.array(normal_indices_random)

In [36]:
under_sample_indices=np.concatenate([fraud_indices,normal_indices_random])

In [37]:
under_sample_indices

array([   541,    623,   4920,   6108,   6329,   6331,   6334,   6336,
         6338,   6427,   6446,   6472,   6529,   6609,   6641,   6717,
         6719,   6734,   6774,   6820,   6870,   6882,   6899,   6903,
         6971,   8296,   8312,   8335,   8615,   8617,   8842,   8845,
         8972,   9035,   9179,   9252,   9487,   9509,  10204,  10484,
        10497,  10498,  10568,  10630,  10690,  10801,  10891,  10897,
        11343,  11710,  11841,  11880,  12070,  12108,  12261,  12369,
        14104,  14170,  14197,  14211,  14338,  15166,  15204,  15225,
        15451,  15476,  15506,  15539,  15566,  15736,  15751,  15781,
        15810,  16415,  16780,  16863,  17317,  17366,  17407,  17453,
        17480,  18466,  18472,  18773,  18809,  20198,  23308,  23422,
        26802,  27362,  27627,  27738,  27749,  29687,  30100,  30314,
        30384,  30398,  30442,  30473,  30496,  31002,  33276,  39183,
        40085,  40525,  41395,  41569,  41943,  42007,  42009,  42473,
        42528,  42549,  42590,  42609,  42635,  42674,  42696,  42700,
        42741,  42756,  42769,  42784,  42856,  42887,  42936,  42945,
        42958,  43061,  43160,  43204,  43428,  43624,  43681,  43773,
        44001,  44091,  44223,  44270,  44556,  45203,  45732,  46909,
        46918,  46998,  47802,  48094,  50211,  50537,  52466,  52521,
        52584,  53591,  53794,  55401,  56703,  57248,  57470,  57615,
        58422,  58761,  59539,  61787,  63421,  63634,  64329,  64411,
        64460,  68067,  68320,  68522,  68633,  69498,  69980,  70141,
        70589,  72757,  73784,  73857,  74496,  74507,  74794,  75511,
        76555,  76609,  76929,  77099,  77348,  77387,  77682,  79525,
        79536,  79835,  79874,  79883,  80760,  81186,  81609,  82400,
        83053,  83297,  83417,  84543,  86155,  87354,  88258,  88307,
        88876,  88897,  89190,  91671,  92777,  93424,  93486,  93788,
        94218,  95534,  95597,  96341,  96789,  96994,  99506, 100623,
       101509, 102441, 102442, 102443, 102444, 102445, 102446, 102782,
       105178, 106679, 106998, 107067, 107637, 108258, 108708, 111690,
       112840, 114271, 116139, 116404, 118308, 119714, 119781, 120505,
       120837, 122479, 123141, 123201, 123238, 123270, 123301, 124036,
       124087, 124115, 124176, 125342, 128479, 131272, 135718, 137705,
       140786, 141257, 141258, 141259, 141260, 142405, 142557, 143188,
       143333, 143334, 143335, 143336, 143728, 143731, 144104, 144108,
       144754, 145800, 146790, 147548, 147605, 149145, 149357, 149522,
       149577, 149587, 149600, 149869, 149874, 150601, 150644, 150647,
       150654, 150660, 150661, 150662, 150663, 150665, 150666, 150667,
       150668, 150669, 150677, 150678, 150679, 150680, 150684, 150687,
       150692, 150697, 150715, 150925, 151006, 151007, 151008, 151009,
       151011, 151103, 151196, 151462, 151519, 151730, 151807, 152019,
       152223, 152295, 153823, 153835, 153885, 154234, 154286, 154371,
       154454, 154587, 154633, 154668, 154670, 154676, 154684, 154693,
       154694, 154697, 154718, 154719, 154720, 154960, 156988, 156990,
       157585, 157868, 157871, 157918, 163149, 163586, 167184, 167305,
       172787, 176049, 177195, 178208, 181966, 182992, 183106, 184379,
       189587, 189701, 189878, 190368, 191074, 191267, 191359, 191544,
       191690, 192382, 192529, 192584, 192687, 195383, 197586, 198868,
       199896, 201098, 201601, 203324, 203328, 203700, 204064, 204079,
       204503, 208651, 212516, 212644, 213092, 213116, 214662, 214775,
       215132, 215953, 215984, 218442, 219025, 219892, 220725, 221018,
       221041, 222133, 222419, 223366, 223572, 223578, 223618, 226814,
       226877, 229712, 229730, 230076, 230476, 231978, 233258, 234574,
       234632, 234633, 234705, 235616, 235634, 235644, 237107, 237426,
       238222, 238366, 238466, 239499, 239501, 240222, 241254, 241445,
       243393, 243547, 243699, 243749, 243848, 244004, 244333, 245347,
       245556, 247673, 247995, 248296, 248971, 249167, 249239, 249607,
       249828, 249963, 250761, 251477, 251866, 251881, 251891, 251904,
       252124, 252774, 254344, 254395, 255403, 255556, 258403, 261056,
       261473, 261925, 262560, 262826, 263080, 263274, 263324, 263877,
       268375, 272521, 274382, 274475, 275992, 276071, 276864, 279863,
       280143, 280149, 281144, 281674,  31672, 220331, 208092,  87642,
       215406, 127100, 236113,  78584, 260283, 124495, 103152, 169849,
        25234, 218342,  90608, 232802, 237185, 280173, 125424,  87922,
        33527, 278324, 179356, 126206,  43981, 252091, 132880, 149223,
        70468, 256552, 250532,  90729, 254346, 149527,  62154, 249510,
       213085, 222819, 108225, 175197, 247731, 195300,  26710, 185972,
       124163, 197318, 196519,  82001, 132488, 134688,  78926,  93039,
       165825, 238976, 152968, 117158, 244963,  26614, 281692, 179338,
       225323, 133682, 220383, 178122, 134075,  99556,   4096, 159098,
       284338, 140650, 133683, 168440,  49663, 272840,  17893, 233270,
       107776,  34406, 104544,  49161, 241984, 266955, 115094, 198318,
         4731, 131326, 235121, 107150,  26558, 178231,  67259, 104518,
        67893, 231861, 259302, 221829,  25555, 204398, 273244,   2837,
        34829, 261782, 116502, 258476, 158156,  34875, 140554, 192800,
        49495, 247772, 223421, 192358, 130482, 223837,  22545, 164731,
        77630, 103245, 240167, 104522, 111940, 246750, 178332, 144160,
       227571, 192858, 244368, 226097, 276940,  47951,  80985, 112829,
        78094,  13277, 104091, 163068, 168352,  19285, 216119, 231989,
        57668, 124777, 273331,  98183,  87295,  78467, 142127,  87865,
        40066, 224839, 112514, 180297,  61241, 226862,  12839,  47872,
       110111, 278068, 193797, 109040, 248162,  36633, 192421,  54284,
       117845, 174860,  32494,  76226,   2161, 166065, 284594, 160266,
       167652, 214512, 156592, 180533, 239339, 142585, 172715, 133423,
       241991, 103026, 276353,  96891, 251605, 186112, 205529, 146765,
        59966,  64156,  21357, 178642, 234392, 150691, 268155, 226274,
        50956,  43259, 226659, 114057, 214268, 102576,  18334,  81908,
       184239, 211633, 106310, 277973, 146377,  86759,  37244,  76267,
        68101, 252539,  19411,  46232, 186912, 135878, 262194, 138391,
       199632, 227521,  82800, 127582, 264722, 265749, 142648,   6022,
          320, 218661, 226087,  16817, 109606, 155972,  54155, 183133,
       193210, 155332, 170986, 252934,  75556,  48675, 195142,   2891,
       251004, 109930,  38911, 177081, 145008, 243901, 131617, 105066,
        72744, 241611,  21983, 199973, 187732, 254458, 123083,  92151,
       181404,  29826, 223860,  61074, 130576,   4415, 157906, 250293,
        32025,  97178, 262581, 246437, 115855, 189310, 259644,  20106,
        65950, 208626,  23166, 280579, 129439, 154316, 238092, 181605,
        97039, 248442, 136206,  65904,  18563, 226649,  34669, 229622,
       136167, 181049, 178435,  11470, 235615,  25552, 247693, 154452,
        42883,  20715, 111310,  52348,  92623, 134573,  14872,  85300,
       112747,  69838, 142515, 272452,  31773,  90959, 103034,  29180,
       274438, 259271, 192347,  74765, 201831, 120834, 199688, 226670,
       110947, 158162, 118247, 111405,  70916, 113005, 189473,  75831,
       167318, 112277,  29544,  36388,  69631, 233942, 132826,  85354,
       155959, 250806, 112706, 122938, 117937, 244154, 203856,  97827,
       193851, 221049,   4475, 147346,  22473, 135103,  17189,  72158,
       262916,  90582,  18072, 101470, 233605, 213774, 102507, 269804,
       129214, 236839,  36353,  69883, 231192,  54524, 191714, 273795,
       204076,  69985, 223764,  99128,  47230,  11337, 232257, 160665,
        20361, 143807, 179256, 195886, 108932,  37304, 199408, 153411,
       212749, 104002, 243377, 236168,  90188, 252370, 118650,  25023,
        52673,  62276, 231384,  91850, 168496, 277755, 110413, 158446,
       120219, 134899, 143982, 186193, 222985, 282055, 232741, 107042,
       156407,  47035, 249638, 245185, 207863, 184994,  31145, 264312,
        19793, 262171,  60571, 142687, 256139,  62454, 117500, 207104,
       222951,  42580, 200199, 243668, 265491,  55180, 251348, 139952,
        27172, 184874, 166778, 119960, 129891, 158611, 116102, 201793,
       101629, 180927, 137422, 218931, 174422,  41016, 213412, 238931,
       125762, 145238, 195795,  70510,   5324, 276514,  12327, 109850,
       108813,  24721, 215780,  80980, 178894, 195692,   6832,  83067,
       199134,  59385,   2785, 193948, 270352, 145997,  81800, 243048,
        21962, 217151,  59030, 250642,  40219, 264957, 178833, 203855,
        39081, 176929, 220825,  64792, 229270, 198794,  54873, 188075],
      dtype=int64)

In [42]:
X_undersample=X.iloc[under_sample_indices,:]

In [43]:
y_undersample=y.iloc[under_sample_indices,:]

In [46]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3, random_state = 0)
X_train_undersample, X_test_undersample, y_train_undersample, y_test_undersample = train_test_split(X_undersample,y_undersample,test_size = 0.3 ,random_state = 0)

In [47]:

from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import KFold, cross_val_score
from sklearn.metrics import confusion_matrix,precision_recall_curve,auc,roc_auc_score,roc_curve,recall_score,classification_report

In [48]:
fold = KFold(len(y_train_undersample),5,shuffle=False)

In [49]:
fold

sklearn.cross_validation.KFold(n=688, n_folds=5, shuffle=False, random_state=None)

In [50]:
c_param_range = [0.01,0.1,1,10,100]

In [51]:
range(len(c_param_range),2)

range(5, 2)

In [52]:
for i in range(len(c_param_range),2):
    print(i)

In [53]:
   results_table = pd.DataFrame(index = range(len(c_param_range),2), columns = ['C_parameter','Mean recall score'])

In [54]:
results_table = pd.DataFrame(index = range(len(c_param_range),2), columns = ['C_parameter','Mean recall score'])

In [55]:
results_table

Empty DataFrame
Columns: [C_parameter, Mean recall score]
Index: []

In [56]:
results_table['C_parameter'] = c_param_range

In [57]:
results_table

   C_parameter Mean recall score
0         0.01               NaN
1         0.10               NaN
2         1.00               NaN
3        10.00               NaN
4       100.00               NaN

In [58]:
fold

sklearn.cross_validation.KFold(n=688, n_folds=5, shuffle=False, random_state=None)